! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: yellow
URxvt*font:xft:DejaVu Sans Mono:size=10
!URxvt*font: xft:DejaVu Serif Condensed:pixelsize=14
!URxvt*font: xft:Monaco for Powerline:pixelsize=10
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.transparent:   false
URxvt.shadin*foreground: #DDCCBB

